{% extends "web/index.html" %}

{% block body %}
    <form action="{% url 'add' %}" method="post" name="contact" onsubmit="return(validateForm())">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Name"/><br><br>
        <input name="address" type="text" placeholder="Address"/><br><br>
        <input name="phone" type="text" placeholder="Phone Number"/><br>
        <small>Format: 111-222-3333</small><br><br>
        <input name="primaryEmail" type="text" placeholder="Primary Email"/><br><br>
        <input name="secondaryEmail" type="text" placeholder="Secondary Email"/><br><br>
        <br>
        <input class="submitbtn" type="submit" value="Submit"/>
    </form>

    
{% endblock %}