{% extends "web/index.html" %}

{% block body %}
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Name" required/><br>
        <input name="address" type="text" placeholder="Address"/><br>
        <input name="phone" type="tel" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/><br>
        <small>Format:111-222-3333</small><br>
        <input name="primaryEmail" type="email" placeholder="Primary Email" required/><br>
        <input name="secondaryEmail" type="text" placeholder="Secondary Email"/><br>
        <br>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}