{% extends "web/index.html" %}

{% block body %}

    <div style="display: inline-block; margin: 10%; width: 80%; margin-top: 1%;">
        {% for u in urls %}
            {% if u.is_embed %}
                <iframe src={{u.url}} width={{u.width}} height={{u.height}} style="align-self: center;"></iframe>
            {% endif %}

        {% endfor %}
    </div>
    <div id=links style="display: inline-block; margin: 1%; width: 98%;">
        {% for u in urls %}
            {% if u.is_link %}
                <a href={{u.url}} target="_blank">{{u.name}}</a>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}